<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
</head>
<body>
    <nav>
        {% if user.is_authenticated %}
            <p>You are logged in as {{ user.username }}</p>
            <form action="{% url 'logoutuser' %}" method="post">{% csrf_token %}
                <button type="submit">Logout</button>
            </form>
        {% else %}
            <a href="{% url 'loginuser' %}">Login</a>
            <a href="{% url 'signupuser' %}">Signup</a>
        {% endif %}
    </nav>

    {% block content %}{% endblock %}
</body>
</html>